.book-list {
  flex: 9;

  .available {
    padding: 10px;
    border-bottom: 1px solid #dadfea;
    h3 {
     color: #444c63;
     line-height: 26px;
     font-size: 22px;
   }
 }

 // @import '../components/filters.scss';

 .books {
   padding: 25px 20px;
   background-color: #ffffff;
   border-top: 1px solid #dadfea;
   text-align: center;

   .book {
     cursor: pointer;
     text-align: left;

     .desc {
       margin-top: 15px;
       display: -webkit-flex;
       display: -ms-flex;
       display: flex;
       flex-direction: column;

       .title {
         color: #444c63;
         font-size: 16px;
         margin-bottom: 5px;
       }

       .author {
         color: #6f7d95;
         font-size: 12px;
       }

       .rating {
         margin-top: 10px;
         color: #ffab00;
       }
     }

     &:last-child {
       margin-right: 0;
     }
   }
 }
}
