@import '../colors';

.filter {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;

  .filters {
    flex: 6;

    span {
      color: $grey;
      font-size: 12px;
      margin-right: 15px;
      font-weight: 600;
      cursor: pointer;
      width: 10%;

     &.active {
       background-color: $dark-grey;
       border-radius: 10px;
       padding: 2px 8px;
       color: $white;
     }
    }
  }

  .search {
    position: relative;
    flex: 3;

    input {
      border-radius: 16px;
      border: $input-border;
      padding: 5px 35px 5px 10px;
      width: 100%;
      outline: none;
      color: $grey;
    }

    span {
      position: absolute;
      top: 7px;
      right: 10px;
      color: $grey;
      cursor: pointer;
    }
  }
}
