@import '../colors';

header {
  height: 45px;
  background-color: $bgc-grey;

  .right {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;

    .links {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      padding: 10px 0;

      p {
        color: $grey;
        line-height: 26px;
      }
      span {
        &::after {
          content: '\00B7';
          color: $grey;
          font-size: 48px;
          margin: 0 10px;
          line-height: 18px;
          border-radius: 50%;
        }
      }
    }
    .user-container {
      margin-left: 15px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      background-color: $blue;
      padding: 10px;

      .user-name {
        p {
          color: $white;
          line-height: 26px;
          font-weight: 600;
        }
       }

       .user-pic {
         position: relative;
         margin-right: 10px;
         border: 2px solid #white;
         border-radius: 50%;
    }

    .arrow {
      margin: 0 15px;
      span {
        background-color: $white;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        border-radius: 50%;
        padding: 1px 2px;
        cursor: pointer;

        i {
          font-size: 10px;
          color: $blue;
        }
      }
    }
   }
  }
}
