@import '../colors';

.sidebar {
  background-color: $bgc-dark-grey;
  flex: 1;
  height: 100%;
  // '+ ADD BOOK' button
  .add-book {
    padding: 30px 15px;
    border-bottom: 3px solid $bgc-grey;

    button {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      background-color: $red;
      border-radius: 4px;
      border: none;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      padding: 10px 15px;
      width: 100%;
      cursor: pointer;
      outline: none;

      i {
        margin-right: 10px;
        font-size: 12px;
      }
    }
  }
  // Navigation links
  .nav {
    border-bottom: 3px solid $bgc-grey;

    .nav-item {
      padding: 10px 15px;
      width: 100%;
      cursor: pointer;

      span {
        color: $grey;

        i {
          margin-right: 5px;
        }
      }

      &:hover {
        background-color: $blue;
        span {
          color: $white;
        }
      }

      &.active {
        background-color: $blue;
        span {
          color: $white;
        }
      }
    }
  }
  // User's lists
  .list {
    border-bottom: 3px solid $bgc-grey;

    .list-item {
      padding: 10px 15px;
      width: 100%;
      cursor: pointer;

      span {
        color: $grey;
        vertical-align: middle;

        i {
          margin-right: 5px;
          font-size: 6px;
          vertical-align: middle;
        }
      }
    }
  }

  // History of changes
  .pushes {
    .push-item {
      padding: 10px 15px;
      width: 100%;
      color: $grey;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 12px;
        line-height: 18px;

        .text-bold {
          color: $dark-grey;
          font-weight: 500;
        }
      }

      i {
        margin: 5px 10px 0 0;
      }

      .time {
        margin-top: 10px;
      }
    }
  }
}
