body {
  font-family: "Proxima Nova";
  font-size: 13px;
  margin: 0;
  padding: 0;

  p, h3 {
    margin: 0;
  }

  .wrap {
    height: 100vh;
  }

  .main {
    background-color: #eef1f7;
    height: 95%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}
